.student-dashboard{
    background:#f4f7fc;
    min-height:100vh;
    padding:50px;
}

.student-dashboard h1{
    margin-bottom:30px;
}

.student-stats{
    display:flex;
    gap:25px;
    margin-bottom:40px;
}

.student-card{
    flex:1;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    text-align:center;
}

.student-card h2{
    color:#2563eb;
    font-size:40px;
}

.application-table{
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.application-table table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

.application-table th,
.application-table td{
    padding:15px;
    border-bottom:1px solid #ddd;
}

.application-table th{
    background:#2563eb;
    color:white;
}