* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 70px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #2563eb;
}

.nav-links {
  display: flex;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: #444;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #2563eb;
}

.register-btn {
  background: #2563eb;
  color: white !important;
  padding: 10px 18px;
  border-radius: 8px;
}

.register-btn:hover {
  background: #1d4ed8;
}